.Toolbar {
    height:56px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:0 10px;
    background-color: #703B09;
    position:fixed;
    z-index:90;
    top:0;

}

@media (max-width:499px){
    .DesktopOnly{
        display:none;
    }
}